:root {
  /* --animate-duration: 800ms; */
  --animate-delay: 0.9s;
}
body {
  background-color: black;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.App {
  text-align: center;
  width: 100%;
}
.footer {
  /* position: fixed; */
  text-align: center;
  width: 100%;
  bottom: 0;
  margin-top: 50px;
  color: white;
  height: 10vh;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.card-body {
  padding: 0;
}

.app-second {
  text-align: center;
  width: 100%;
}

a {
  color: white;
}

.App-header1 {
  background-color: #0a0909;
  height: 7vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 1.3vmin);
  color: white;
  width: 100%;
  border-bottom: #1e1f20 6px solid;
}

.App-header2 {
  background: linear-gradient(#0d0e0f, #0d1216);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 3vmin);
  color: white;
  width: 100%;
  padding-top: 20px;
}

.profile-page {
  background: linear-gradient(#117eea, #0d1216);
  background: linear-gradient(#0d0e0f, #0d1216);
  background-size: cover;
  /* height: 93vh; */
  top: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
  padding-bottom: 150px;
  padding-left: 50px;
  padding-right: 50px;
}
@media (min-width: 876px) {
  .profile-page {
    height: 93vh;
  }
  .App-header3 {
    background-size: cover;
  }
}

.resume-page {
  display: flex;
  justify-content: flex-start;
  color: white;
  color: black;
  background-color: white;
  width: auto;
  margin-top: 50px;
  margin-left: 5px;
  margin-right: 5px;
  border: solid 2px rgb(203, 200, 200);
  border-radius: 10px;
  max-width: 1200px;
}

@media (min-width: 1000px) {
  .resume-page {
    margin-left: 100px;
    margin-right: 100px;
  }
}

.App-header3 {
  background-image: url(./images/william-daigneault-Cd84YdL9px8-unsplash.jpg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2.5vmin);
  color: white;
  width: 100%;
}

.animate__animated.animate__fadeIn {
  --animate-duration: 1s;
}

.animate__animated.animate__fadeOut {
  --animate-duration: 5s;
}
.animate__animated.animate__fadeInRight {
  --animate-duration: 2s;
}

.card-detail-holder {
  background-color: #1e1f20;
  position: relative;
  /* width: 1250px; */
  width: 800px;
  /* width: 1100px; */
  height: 60vh;
  border-radius: 10px;
  background-size: cover;
}

@media (min-width: 1400px) {
  .card-detail-holder {
    width: 1250px;
    height: 65vh;
  }
}

.project-description {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 17px;
  padding: 2px;
  text-align: center;
}

@media (min-width: 1400px) {
  .project-description {
    margin-left: 150px;
    margin-right: 150px;
    padding: 10px;
    font-size: 19px;
  }
}
.card {
  background-color: #1e1f20;
}
/* 
.modal-content {
  background-color:#2a2a2b;
  color: white;
  border-radius: 10px;
}
.modal-backdrop.show {
  opacity: .7;
} */

.btn,
.btn-primary {
  background-color: black;
  border: 1px solid white;
}

.btn:hover,
.btn:visited,
.btn-primary:focus,
.btn.primary:focus,
.btn:active,
.btn-primary:active {
  background-color: rgb(52, 51, 51);
  border: 1px solid white;
}
.btn:visited {
  background-color: rgb(52, 51, 51);
}

.btn-primary:focus {
  background-color: rgb(52, 51, 51);
}
.btn.primary:focus {
  background-color: rgb(52, 51, 51);
}

.resume-header-main,
.resume-header-side {
  background-color: #ffeb3b;
  padding: 5px;
  margin-top: 10px;
  font-weight: 200;
  justify-content: center;
  font-size: 20px;
}

.resume-header-side {
  color: black;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 25px;
}

.sidebar-list,
.resume-list-item {
  padding-left: 10px;
  padding: 5px 10px 5px 10px;
  font-size: 19px;
  text-align: left;
  border: none;
  font-weight: 400;
}
.sidebar-list {
  font-size: 20px;
  padding-top: 15px;
}
.sidebar-detail {
  text-align: left;
  font-size: 16px;
  padding: 8px;
  padding-left: 10px;
  font-weight: 700;
}
.sidebar-highlight {
  font-style: italic;
  text-align: left;
  padding-left: 10px;
}
.resume-list-item {
  font-size: 16px;
}

.resume-about-me,
.resume-title {
  padding: 10px;
  font-size: 22px;
  line-height: 1.5rem;
  font-weight: 300;
  text-align: left;
}
.resume-about-me {
  font-size: 18px;
  padding-right: 20px;
  padding-left: 20px;
}
.resume-title {
  font-size: 19px;
  font-weight: 400;
}
.resume-place {
  padding: 5px 10px 0 10px;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
}
.resume-department {
  padding-left: 10px;
  padding-right: 10px;
}

.resume-years {
  font-weight: 400;
  font-size: 18px;
}
